[submodule "lib/mclib"]
	path = lib/mclib
	url = git@github.com:McCurtjs/mclib.git
[submodule "lib/cspec"]
	path = lib/cspec
	url = git@github.com:McCurtjs/cspec.git
[submodule "lib/sdl"]
	path = lib/sdl
	url = https://github.com/libsdl-org/SDL.git
[submodule "lib/wasi-libc"]
	path = lib/wasi-libc
	url = https://github.com/WebAssembly/wasi-libc.git
[submodule "lib/stb"]
	path = lib/stb
	url = https://github.com/nothings/stb.git
[submodule "lib/cimgui"]
	path = lib/cimgui
	url = https://github.com/cimgui/cimgui.git
